<a href="https://colab.research.google.com/github/Sawant-Chaitanya/Airbnb-Booking-analysis/blob/main/Copy_of_Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

# **Exploratory Data Analysis on NYC Airbnb 2019 dataset**





## Airbnb was conceived years ago by two roommates who rented out an air mattress in their living room. This turned their whole apartment into a bed and breakfast. This was done to sustain the high-priced living in San Francisco. This gave the company its name **Airbedandbreakfast**.This San-Francisco based startup offers you someoneâ€™s home as a place to stay instead of a hotel. Airbnb was **started in 2008**.Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more.

# **Data Source**

This dataset has around **48895** observations in it with 16 columns and it is a mix between categorical and numeric values.

# **Acquaring and Loading Data**

In [2]:
#importing necessery libraries for future analysis of the dataset

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#using pandas library and 'read_csv' function to read Airbnb NYC 2019 csv file

df_airbnb = pd.read_csv('/content/drive/MyDrive/Almabetter/Capstone Project/AirBnB Bookings Analysis/Airbnb NYC 2019.csv')
df_airbnb.head(3)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365

[3 rows x 16 columns]

# **Data Exploration and variable Identification**

In [6]:
#checking info about dataset
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [7]:
df_airbnb.shape

(48895, 16)

# **Understadning Data**

**Finding numerical and categorical variables**

In [16]:
#checking what are the variables here:
df_airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

By obsevations we get to that **'name'** column represents **property name** and and perticular properties were hosted by **perticular hosts** who are represented in **'host_name'** column.
But a particular host_name can have multiple properties in a area.
So **host_name** is like one of the **catogerical variable** like **neighbourhood(areas), neighbourhood_group, and room_type**.

In [15]:
#let's proceed with examing some interesting categorical unique values

#examining the unique values of neighbourhood_group 
df_airbnb.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [21]:
#examining the unique values of neighbourhood
df_airbnb['neighbourhood'].nunique()

221

In [22]:
#examining the unique values of room_type 
df_airbnb.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [83]:
df_airbnb['host_id'].nunique()

37457

In [10]:
df_airbnb['host_name'].nunique()

11452

In [11]:
df_airbnb['name'].nunique()

47905

In [12]:
df_airbnb['name'].value_counts()
#  few listings have no particular host name as below observation
#also few listings/property with same names has different hosts in different neighbourhoods of a neighbourhood_group

Hillside Hotel                                       18
Home away from home                                  17
New york Multi-unit building                         16
Brooklyn Apartment                                   12
Loft Suite @ The Box House Hotel                     11
                                                     ..
Flatiron Designer Loft! Private Elevator! 3BR/2BA     1
Affordable room in a friendly house                   1
Sunny Private bedroom in Bushwick!                    1
Very Clean, Cozy 2 Bedrooms near Central Park         1
Pretty Light Filled Apartment to Share                1
Name: name, Length: 47905, dtype: int64

In [75]:
df_airbnb[df_airbnb['name']=='New york Multi-unit building'].head(3) #so on this viewpoint name also comes under categorical var!
#same property but hosted by different Airbnb hosts with different room_types & varied price ranges

             id  ... availability_365
2751    1489426  ...                0
19016  15100883  ...              179
33473  26463879  ...              365

[3 rows x 16 columns]

In [78]:
df_airbnb.loc[(df_airbnb['neighbourhood_group']=='Manhattan') & (df_airbnb['host_name']=='Natasha')]
 #experiment
#Same hosts have hosted for different properties in same neighbourhood groups!

             id  ... availability_365
4702    3304307  ...              219
4853    3458525  ...              211
8686    6673630  ...                0
9376    7193201  ...                0
10310   7894907  ...                0
11344   8813547  ...                0
20061  16066223  ...                4
21145  16779705  ...                0
22125  17808917  ...                0
24200  19499668  ...              188
28787  22231811  ...               75
39111  30528541  ...                0
40611  31494165  ...                0
42630  33094220  ...               13
48452  36272531  ...               66
48749  36417643  ...              265

[16 rows x 16 columns]

In [82]:
# there are few listings where the property name and the host have same names
df_airbnb[df_airbnb['name']==df_airbnb['host_name']]

             id  ... availability_365
9473    7264659  ...               25
10682   8212051  ...              238
16422  13186374  ...                0
23996  19348168  ...                0
24152  19456810  ...               90
24607  19785737  ...              180
26734  21231543  ...              365
26752  21243952  ...              365
26753  21244035  ...              365
26889  21311903  ...              365
26891  21312075  ...              365
26892  21312191  ...              365
26893  21312225  ...              365
26894  21312283  ...              355
26895  21312330  ...              355
26896  21312403  ...              362
26897  21312440  ...              360
26898  21312495  ...              362
26899  21312549  ...              355
26900  21312595  ...              355
26901  21312687  ...              319
26902  21312732  ...              309
27186  21488093  ...                0
33964  26895166  ...               32
43564  33718254  ...               24
45510  34803347  ...               38

[26 rows x 16 columns]

So, far I was trying to understand the two variables: name and host_name & its relationship with neighbourhood_group and neighbourhood.(only from the values present inside)

Found out that: A host can have multiple properties in a neighbourhood group with different host-ids but a host with a particular property/listing in a particular neighbourhood of a neighbourhood group have a same host-id(not mandatory as there are exceptions where few hosts have diferrent id's for each listing/property in a neighbourhood)

Also the data so far tells, there might be cases where a particular host has co-hosted someone else's property/listing in a neighbourhood on Airbnb.

We'll not bother much as these are not that important in our analysis and proceed further!

In [ ]:
#  to find numerical veriables(overall summary)
df_airbnb.describe()

**id, latitude, longitude,price,minimum_nights,number_of_reviews,last_review, reviews_per_month calculated_host_listings_count, availability_365** are numerical variables

So far we get to know that columns such as 'id','last_review' are of no use for this prticular analysis.To elaborate, "last_review" is date; if there were no reviews for the listing - date simply will not exist. In our case, this column is irrelevant and insignificant therefore appending those values is not needed.

In [ ]:
#dropping columns that are not significant
airbnb.drop(['id','last_review'], axis=1, inplace=True)

# **Exploring and Visualizing Data**

if a person trying to book a listing for stay/rent he/she will look into these following factors while booking:
**name,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews**
these are the important ones in our analysis. We'll crosscheck though at last!

In [33]:
df_airbnb['host_id'].value_counts()[:5] #host ids with most listings counts

219517861    327
107434423    232
30283594     121
137358866    103
12243051      96
Name: host_id, dtype: int64

In [30]:
df_airbnb['host_name'].value_counts()[:5] #5 hosts with most listings counts in entire NYC

Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
Name: host_name, dtype: int64